.img-loader {
   
   &-container {
      overflow: hidden;
      position: relative;
      box-sizing: border-box;
   }

   &__content {

      &--hr,
      &--lr {
         width: 100%;
         backface-visibility: hidden;
         -moz-backface-visibility: hidden;
         -webkit-backface-visibility: hidden;
         filter: blur(20px);
         transform: scale(1.1);
      }

      &--hr {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
   }
   
   &__loaded {
      animation: zoom-in .8s linear both;   
   }
}


