.img-loader {
   
   &__wrapper {
      position: relative;
      overflow: hidden;
   }

   &__content {
      width: 100%;
      backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      filter: blur(0);
      transform: scale(1);
      transition: all .5s linear;
   }
   
   &__blur {
      transform: scale(1.03);
      filter: blur(10px);
   }
}


