.img-loader {
   
   &__wrapper {
      position: relative;
      overflow: hidden;
   }
   
   &__low-res {
      width: 100%;
      filter: blur(10px);
      position: absolute;
      backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      z-index: 0;
      transition: all .8s linear;
      transform: scale(1);
   }
   
   &__high-res {
      width: 100%;
      backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      opacity: 1;
      z-index: 1;
      margin-bottom: -1px;
      transition: all .8s linear;
      transform: scale(1);
   }
   
   &__hidden {
      opacity: 0;
   }
   
   &__enlarge {
      transform: scale(1.03);
   }
}


